#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default_layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   62       0     0     0>
            , <&key_physical_attrs 100 100  100   25       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  301   13       0     0     0>
            , <&key_physical_attrs 100 100  401   26       0     0     0>
            , <&key_physical_attrs 100 100  850   26       0     0     0>
            , <&key_physical_attrs 100 100  951   13       0     0     0>
            , <&key_physical_attrs 100 100 1051    0       0     0     0>
            , <&key_physical_attrs 100 100 1151   25       0     0     0>
            , <&key_physical_attrs 100 100 1251   62       0     0     0>
            , <&key_physical_attrs 100 100    0  162       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  301  113       0     0     0>
            , <&key_physical_attrs 100 100  401  127       0     0     0>
            , <&key_physical_attrs 100 100  501  150       0     0     0>
            , <&key_physical_attrs 100 100  750  150       0     0     0>
            , <&key_physical_attrs 100 100  850  127       0     0     0>
            , <&key_physical_attrs 100 100  951  114       0     0     0>
            , <&key_physical_attrs 100 100 1051  100       0     0     0>
            , <&key_physical_attrs 100 100 1151  125       0     0     0>
            , <&key_physical_attrs 100 100 1251  162       0     0     0>
            , <&key_physical_attrs 100 100    0  262       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  301  214       0     0     0>
            , <&key_physical_attrs 100 100  401  227       0     0     0>
            , <&key_physical_attrs 100 100  501  251       0     0     0>
            , <&key_physical_attrs 100 100  750  251       0     0     0>
            , <&key_physical_attrs 100 100  850  227       0     0     0>
            , <&key_physical_attrs 100 100  951  214       0     0     0>
            , <&key_physical_attrs 100 100 1051  201       0     0     0>
            , <&key_physical_attrs 100 100 1151  225       0     0     0>
            , <&key_physical_attrs 100 100 1251  262       0     0     0>
            , <&key_physical_attrs 100 100    0  362       0     0     0>
            , <&key_physical_attrs 100 100  100  326       0     0     0>
            , <&key_physical_attrs 100 100  200  301       0     0     0>
            , <&key_physical_attrs 100 100  322  352       0     0     0>
            , <&key_physical_attrs 100 100  434  362     900   484   412>
            , <&key_physical_attrs 100 100  545  391    2000   595   441>
            , <&key_physical_attrs 100 100  706  391 (-2000)   756   441>
            , <&key_physical_attrs 100 100  816  362 (-1000)   866   412>
            , <&key_physical_attrs 100 100 1251  362       0     0     0>
            ;
    };
};
